<h1>Edit Exercise</h1>

<%= form_for [:admin, @exercise], method: 'patch', url: admin_exercise_path do |f| %>
  <%= f.text_field :name, class: "form-control" %>
  <div>
    <%= f.text_field :all_tags %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<ul>
  <%= render @workouts %>
</ul>
