<% provide(:title, 'Add new exercise') %>
<h1>Add an exercise</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for [:admin, @exercise], url: admin_exercises_path do |f| %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <div>

      <%= f.text_field :all_tags %>

        <%= f.fields_for :exercises_tags do |tag| %>
          <%= collection_check_boxes(:exercises_tags, :tag_id, Tag.all, :id, :tag)%>
        <% end %>

    </div>
    <% end %>
  </div>
</div>
